* {
	outline: 0; /* убираем рамку для некоторых элементов */
	cursor: default; /* выбор типа курсора */
	border-radius: 0; /* закругление краев */
	margin: 0; /* внешний отступ */
	padding: 0; /* внутренний отступ */
	font-family: Arial, Helvetica, sans-serif; /* семейство шрифтов */
}

body {
	background-color: transparent; /* прозрачный фон */
	font-weight: normal; /* начертание шрифта */
	font-size: 18px; /* размер шрифта */
	color: #444444; /* цвет шрифта */
	padding-top: 69px; /* внутренний отступ сверху */
}

a, a:hover, a:active, a:visited {
	text-decoration: none; /* убираем декоративные линии у текста */
	cursor: pointer; /* выбор типа курсора */
}

table {
	text-align: center;
}

tfoot {
	color: #fa8d39;
}

table tr td:first-child, thead {
	text-align: left;
	font-weight: 900;
}

table thead tr td:nth-child(2) {
	color: #08a100;
}

table thead tr td:nth-child(3) {
	color: #bcd100;
}

table tbody tr:nth-child(3n) {
	font-style: italic;
}

table tbody tr td:last-child {
	font-style: italic;
}

table td {
	width: 100px;
	border: 1px solid black;
}
