* {
	outline: 0; /* убираем рамку для некоторых элементов */
	cursor: default; /* выбор типа курсора */
	border-radius: 0; /* закругление краев */
	margin: 0; /* внешний отступ */
	padding: 0; /* внутренний отступ */
	font-family: Arial, Helvetica, sans-serif; /* семейство шрифтов */
}

body {
	background-color: transparent; /* прозрачный фон */
	font-weight: normal; /* начертание шрифта */
	font-size: 18px; /* размер шрифта */
	color: #444444; /* цвет шрифта */
	padding-top: 69px; /* внутренний отступ сверху */
}

a, a:hover, a:active, a:visited {
	text-decoration: none; /* убираем декоративные линии у текста */
	cursor: pointer; /* выбор типа курсора */
}

.content {
	display: block;
	margin: 0 auto 50px auto;
}

h1 {
	color: rosybrown;
	margin-bottom: 20px;
	text-align: center;
}

form {
	display: block;
	width: 80%;
	margin: 0 auto;
}

input {
	display: block;
	border: none;
	border: 2px solid #bdbdbd;
	background-color: #fafafa;
	border-radius: 10px;
	cursor: text;
	margin: 0 auto 20px auto;
	padding: 15px;
	font-size: 26px;
}

input[type=file] {
	cursor: pointer;
}

.cb {
	display: block;
	width: 100%;
	margin: 10px auto;
}

input[type=checkbox] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.cb > div {
	display: block;
	background-color: aquamarine;
	padding: 30px 30px 30px 50px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.cb > div * {
	cursor: pointer;
}

.cb > div > h3 {
	font-weight: bold;
	margin-bottom: 2px;
}

.cb > div::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	display: block;
	width: 0;
	height: 100%;
	background-color: #28d49b;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-ms-transition-duration: .2s;
	-o-transition-duration: .2s;
	transition-duration: .2s;
}

.cb > input[type=checkbox]:checked + div::before {
	width: 10px;
}
