body{
    font-family: Arial, Helvetica, sans-serif;
}

.ground{
    display: block;
    background-color: #ffc0cb;
    width: 300px;
    height: 300px;
    margin: 100px auto 10px;
    border-radius: 15px;
    padding: 10px;
}

.title{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 25px;
}

.text{
	font-family: 'Bad Script', cursive;
	margin-top: 10px;
    margin-bottom: 10px;
}

.author{
    text-align: right;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
	margin-top: 20px;
}

form{
	margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
}

button{
    font-size: 15px;
    border: 0;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}

.like{
    background-color: #800080;
}

.exactly_like{
    background-color: rgba(244, 92, 92, 0.985);
}