.CentreBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #666;
}

.button-group {
    /* Стили для выравнивания кнопок по центру */
    display: flex;
    justify-content: center;
    align-items: center;
}

#like-button,
#dislike-button {
    /* Стили для кнопок */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #f0f0f0;
    color: #666;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}

#like-button:hover,
#dislike-button:hover {
    /* Стили для состояния наведения на кнопки */
    background-color: #ddd;
}

#like-button i:before {
    /* Стили для иконки лайка */
    content: "\f164";
    margin: 4px;
}

#dislike-button i:before {
    /* Стили для иконки дизлайка */
    content: "\f165";
    margin: 4px;
}

.fa-thumbs-up,
.fa-thumbs-down {
    /* Стили для общих свойств иконок */
    font-family: "Font Awesome 5 Free";
}

#Author {
    text-align: right;
    font-family: 'Pacifico', cursive;
}


h1 {
    font-family: 'Open Sans;', sans-serif;
}

p {
    font-family: Helvetica, Arial, sans-serif;
}
