@font-face 
{
	font-family:"Caveat";
	src :url("../fonts/Caveat-VariableFont_wght.ttf") format("truetype");
	font-style: normal;
}

@font-face
{
	font-family:"Cormorant";
	src : url("../fonts/CormorantGaramond-Regular.ttf") format("truetype");
	font-style: normal;
}

p,h1.title,h2
{
	color: antiquewhite;

}

h1.title
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 50px;
	margin-top: -20px;
}

h2.name
{
	font-family: "Cormorant";
}

.poem
{
	display: block;
	border-radius: 20px;
	position: relative;
	width: 50%;
	height: auto;
	padding: 50px;
	background-color: rgb(211, 125, 55);
	justify-content: center;
	text-align: center;
    margin: 70px auto 10px;
}

span
{
	color: rgb(255, 255, 255);
	line-height: 2;
	font-family:"Caveat";
	font-size: 25px;
}

p.author
{
	margin-left: 75%;
	font-family:"Caveat";
	font-size:25px;
}

.feedback
{
	display: flex;
    justify-content: center;
    align-items: center;
	margin: 5% 0 0 0;
}

button 
{
	width: 150px;
	height: 50px;
	border-radius: 20px;
	margin: 0 60px 0 0;
}

.like-button,.negative-button
{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20pt;
	color: cornsilk;
	border-style: double;
}

.like-button 
{
	background-color: rgb(64, 197, 93);
}

.like-button:hover,.negative-button:hover
{
    color: rgb(211, 125, 55);
    background-color: rgb(255, 255, 255);
}

.negative-button 
{
	background-color: rgb(221, 61, 50);
}
