* {
    margin: 0;
    padding: 0;
}
    
.container {
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto;
    border-radius: 30px;
    font-weight: normal;
    font-size: 28px;
    color: #444444;
    padding: 20px;
    width: 50%;
    text-align: center;
    padding: 20px;
    background-color: rgb(226, 226, 226);
}

p {
    padding-bottom: 15px;
    margin-top: 20px;
}
    
h1 {
    margin-bottom: 30px;
}

.container__author {
    padding: 50px 20px 20px 0px;
    text-align: right;
    font-family: 'Caveat';

}

button {
    padding: 3px;
    margin: 5px auto;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.like, .dislike {
    cursor: pointer;
    border: none;
    font-size: 18px;
    transition: all 0.3s ease-in;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.like {
    background-color: rgb(0, 161, 0);

}

.like:hover {
    transition: all 0.3s ease-in;
    background-color: rgb(0, 190, 0);
    font-size: 20px;
}

.dislike {
    background-color: rgb(184, 0, 0);
}

.dislike:hover {
    transition: all 0.3s ease-in;
    background-color: rgb(211, 0, 0);
    font-size: 20px;
}