@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Petit+Formal+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

h1{

	font-family: "PT Sans";
    font-style: italic;
	font-size: 30pt;

}

.poem{
		font-family: 'Fasthand', cursive;
		line-height: 0.2;
		margin-bottom:36px;
		font-size:16pt;
		word-spacing:5px;
}

h2{
	font-family: "PT Sans";
	color:#DC143C;
	font-size:18pt;
	text-align:right;
	margin-right:30pt;
}

.fon{
	margin:auto;
	position: absolute;
	text-align:center;
    width:600px;
    height:400px;
    background:#f5f5dc;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	border-radius:30px;
}

.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
	margin:5pt;
    cursor: pointer;
	border-radius: 20px;
}

.indent {
    margin-top: 50px;
}

.like {
    background-color: green;
}
.dislike {
    background-color: red;
}
	